@import "variables";

body {
  min-height: 100%;
  position: relative;
}

.application-footer {
  background: $blue;
  bottom: 0;
  color: $white;
  height: 150px;
  left: 0;
  line-height: 50px;
  padding: 1rem;
  position: relative;
  right: 0;
  text-align: center;
  width: 100%;

  .header {
    font-family: Lato;
    padding-top: 20px;
  }

  h5 {
    color: $white;
    font-family: Lato;
    line-height: 1.4;
  }

  .row {
    a {
      color: $white;
      padding-bottom: 10px;
    }
  }
}
