.welcome {
  background-image: image-url("plane_wing.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 600px;

  h2 {
    color: #ffa500;
    padding: 15px;
    text-align: center;
  }

  img {
    height: auto;
    width: auto;
  }
}

.image-attribution {
  text-align: right;
}
