@import "variables";

.top-bar {
  background: $topbar-bg-color;

  .name h1 {
    color: $white;
    font-family: Lobster;
    display: block;
    padding: 0 0.9375rem;
    width: 100%;
  }

  .row {
    background-color: $blue;
    margin-bottom: 0;
    margin-left: auto;
    margin-right: 350px;
    margin-top: 0;
    max-width: 62.5rem;
  }

  .button {
    background-color: $pink;
    min-width: 100%;
    font-family: Lato;
  }
}

.top-bar-section li:not(.has-form) a:not(.button) {
  background: $topbar-bg-color;
  font-family: Lato;
  line-height: 2.8125rem;
  padding: 0 0.9375rem;
}

.top-bar-section ul:not(.has-form) a:not(.buttom) {
  font-family: Lato;
  padding-top: 10px;
}

.top-bar-section ul li {
  background: none;
}

.circular-nav {
  height: 40px;
  width: 50px;

  img {
    border: 3px solid $white;
    border-radius: 50%;
    height: 5px;
    position: relative;
    transform: scale(0.4);
    transition: transform 0.5s ease;
  }
}

.circular-nav-app {
  height: 40px;
  padding-top: 9px;
  width: 50px;

  img {
    border: 3px solid $white;
    border-radius: 50%;
    height: 50px;
    position: relative;
    width: 50px;
    transform: scale(0.4);
    transition: transform 0.5s ease;
  }
}

