<div class="application-footer">
  <div class="header">
    <h5>Created By<h5>
  </div>
  <div class="row">
    <div class="medium-3 columns">
      <div class="name">
        <a href="https://github.com/genagain">Gen Ohta</a>
      </div>
    </div>
    <div class="medium-3 columns">
      <div class="name">
        <a href="https://github.com/MichaelSwartz/">Michael Swartz</a>
      </div>
    </div>
     <div class="medium-3 columns">
      <div class="name">
        <a href="https://github.com/erikgrueter/">Erik Grueter</a>
      </div>
    </div>
    <div class="medium-3 columns">
      <div class="name">
        <a href="https://github.com/daverhub">David Tsang</a>
      </div>
    </div>
  <div>
<div>



