<!DOCTYPE html>
<div class="application-footer">
  <div class="header">
    <p>Created By<p>
  </div>
  <div class="row">
    <div class="medium-3 columns">
      <div class="name">
        <a>David Tsang</a>
      </div>
    </div>
    <div class="medium-3 columns">
      <div class="name">
        <a>Michael Swartz</a>
      </div>
    </div>
     <div class="medium-3 columns">
      <div class="name">
        <a>Gen Ohta</a>
      </div>
    </div>
    <div class="medium-3 columns">
      <div class="name">
        <a>Erik Grueter<a>
      </div>
    </div>
  <div>
<div>



