<!DOCTYPE html>
<div class="application-footer">
  <div class="header">
    <h5>Created By<h5>
  </div>
  <div class="row">
    <div class="medium-3 columns">
      <div class="name">
        <a href="https://github.com/genagain/"><i class="fa fa-github"></i> Gen Ohta</a>
      </div>
    </div>
    <div class="medium-3 columns">
      <div class="name">
        <a href="https://github.com/MichaelSwartz/"><i class="fa fa-github"></i> Michael Swartz</a>
      </div>
    </div>
     <div class="medium-3 columns">
      <div class="name">
        <a href="https://github.com/erikgrueter/"><i class="fa fa-github"></i> Erik Grueter</a>
      </div>
    </div>
    <div class="medium-3 columns">
      <div class="name">
        <a href="https://github.com/daverhub"><i class="fa fa-github"></i> David Tsang</a>
      </div>
    </div>
  <div>
<div>



