<!DOCTYPE html>
<div class="footer">
  <div class="header">
    <h2>Created By</h2>
    <hr>
  </div>
  <div class="row">
    <div class="medium-3 columns">
      <div class="profileimage">
        <a href="https://github.com/erikgrueter"><%= image_tag("Erik_Greuter.jpg") %></a>
      </div>
    </div>
    <div class="medium-3 columns">
      <div class="profileimage">
        <a href="https://github.com/MichaelSwartz"><%= image_tag("Michael_Swartz.jpg") %></a>
      </div>
    </div>
     <div class="medium-3 columns">
      <div class="profileimage">
        <a href="https://github.com/genagain"><%= image_tag("Gen_Ohta.jpg") %></a>
        <br>
      </div>
    </div>
    <div class="medium-3 columns">
      <div class="profileimage">
        <a href="https://github.com/daverhub"><%= image_tag("David_Tsang.jpg") %></a>
      </div>
    </div>
  <div>
</div>




